/* header */
header {
  height: 10rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 18rem;
}

/* hero */
.section-hero {
  background-color: var(--secondary-colour);
  background-image: url("../imgs/landing-bg.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.hero-h1 {
  color: var(--primary-colour);
  font-size: 3.75rem;
  font-weight: 700;
  margin: 7.5rem 0 4rem 0;
  width: 60%;
}

.hero-p {
  color: #fff;
  font-size: 1.875rem;
  width: 43%;
}

.hero-links {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero-getStarted:link,
.hero-getStarted:visited {
  text-decoration: none;
  color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  transition: 0.5s;
}

.hero-getStarted:hover,
.hero-getStarted:active {
  color: #fff;
  background-color: var(--primary-colour);
}

.hero-findOutHow {
  color: #fff;
  font-size: 1.3rem;
}

/* search */
.section-search {
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 15rem;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
}

.search-container {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

.search-inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.search-input {
  grid-column-start: 1;
  grid-column-end: -1;

  display: flex;
  flex-direction: column;
}

.search-input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.search-input input {
  border: none;
  background-color: #ccc;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}

.combobox-input {
  width: 100%;
  z-index: 2;
}

.combo-box-popover {
  margin-top: 0.5rem;
  padding: 1rem;

  border-radius: 0.6rem;
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  width: 100%;
}

.combo-box-list {
  margin: 5rem;
}

.combo-box-option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* border-bottom: 1px solid #000; */
  /* margin: 5rem; */
}

.search-filter {
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-filter-item {
  display: flex;
  flex-direction: column;
}

.search-filter-item label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.search-sidebar {
  grid-column-start: 3;
  grid-column-end: 4;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-self: center;
}

.search-sidebar .title {
  font-weight: bold;
}

.search-sidebar input {
  cursor: pointer;
}

.search-sidebar-item {
  display: flex;
  gap: 1rem;
}

.view-congestion-map {
  text-decoration: none;
  color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  justify-self: start;
  transition: 0.5s;
  background: none;
}

.view-congestion-map:hover {
  color: #fff;
  background-color: var(--primary-colour);
}

.search-filter-item input[type="range"] {
  color: #6c48f4;
}

/* footer */
footer .container {
  margin-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/* ////////// */

datalist {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  /* width: 200px; */
}

option {
  padding-left: 5px;
}

/* input[type="range"] {
  width: 200px;
  margin: 0;
} */
