/******************************* Search *******************************/

.vc-search {
  height: 100vh;
  width: 25vw;
  background-color: #f7f7f7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vc-search h1 {
  color: var(--primary-colour);
}

.vc-search-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.vc-search-show-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.vc-search-items label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.vc-search-items input {
  width: 100%;
}

.vc-search-items span {
  width: 10%;
}

.vc-search-poi label {
  background-color: #ccc;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
}

.vc-search-poi input {
  background: none;
  border: none;
  outline: none;
  padding: 1rem;
}

.vc-search-poi input:active {
  border: none;
}

.vc-search-refine {
  text-decoration: none;
  color: var(--primary-colour);
  border: 2px solid var(--primary-colour);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  transition: 0.5s;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.vc-search-refine:hover {
  color: #fff;
  background-color: var(--primary-colour);
}

.search-input-clear:hover {
  cursor: pointer;
}

.search-input-checkout {
  margin-right: 10px;
}

.search-form {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
