@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #6c48f4;
  --secondary-colour: #1b2040;
}

html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}
